<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



<form method="GET" action="/search/:keyword">
    <input type="search" name="keyword" placeholder="Enter your location..." />
    <button>Start your search</button>
</form>

<br />

<a href="/plants">See all plants</a>