<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



<form method="GET" action="/:id">
    <input type="search" name="search_query" placeholder="Enter your location..." />
    <button>Start your search</button>
</form>