<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



<form method="GET" action="/search">
    <input type="text" name="search" placeholder="start your search..." >
    <button type="submit">Search</button>

</form>

<br />

<a href="/plants">See all plants</a>