<h2>Create New Project</h2>

<form method="POST" action="/process-creation">
  <label>
    Project name * :
    <input type="text" name="proName" placeholder="Project name">
  </label>
  <br />


  <label>
    Description of the project *:
    <input type="text" name="proDescription" placeholder="Description of project...">
  </label>
  <br />

<label>
  Zipcode * :
  <input type="string" name="proLocation" placeholder="Location by ZIP code">
</label>
  <br />

  <button>Save project</button>
</form>
<p><em>Fields with * are required!</em></p>

<br />
<a href="/center">Cancel</a>