<h2>User Settings</h2>


<form method="POST" action="/change-username">
    <h4>Change user name</h4>
    <input type="text" name="userName" placeholder="new user name">
    <button>Submit</button>
</form>


<form method="POST" action="/change-password">
    <h4>Change password</h4>
    <input type="password" name="password" placeholder="new password">
    <button>submit</button>
</form>