<h2>Sign Up</h2>

<form method="POST" action="/process-signup">
    <label>
        Username:
        <input type="text" name="userName" placeholder="Greenfinger" />
    </label>
    <br />

    <label>
        Email address:
        <input type="text" name="email" placeholder="green@plantpalette.com" />
    </label>
    <br />

    <label>
        Profession:
        <input type="text" name="profession" placeholder="Landscape designer" />
    </label>
    <br />

    <label>
        Password:
        <input type="password" name="password" placeholder="**********"/>
    </label>
    <br />

    <button>Confirm</button>
    <br />

</form>

<br/>
<a href="/">Go back</a>